.comments-section {
    margin: $spacer-xlarge 0;
    &__title {
        margin-bottom: $spacer;
    }
}

.comment {
    $component: &;
    margin-bottom: $spacer-large;
    @include themed() {
        background-color: t(comment-color);
    }
    &--own {
        @include themed() {
            background-color: t(owner-comment-color);
        }
        #{$component}__header,
        #{$component}__footer {
            @include themed() {
                background-color: t(owner-comment-header-color);
            }
        }
    }
    &__header,
    &__footer {
        padding: $spacer-xsmall $spacer-small;
        @include themed() {
            background-color: t(comment-header-color);
        }
    }
    &__user {
        font-size: 1.1rem;
        font-weight: bold;
    }
    &__date {
        font-size: 0.75rem;
    }
    &__body {
        padding: $spacer-small;
        word-break: break-word;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__vote {
        font-weight: bold;
        &-result {
            margin-right: 5px;
            &--positive {
                @include themed() {
                    color: t(green-color);
                }
            }
            &--negative {
                @include themed() {
                    color: t(red-color);
                }
            }
        }
        &-button {
            margin-left: 3px;
            width: 20px;
            height: 20px;
            transition: filter 0.15s ease-in;
            border: 1px solid transparent;
            @include themed() {
                background-color: t(post-color);
                color: t(text-color);
            }
            &:hover {
                cursor: pointer;
                filter: brightness(85%);
            }
            &--plus {
                @include themed() {
                    border-color: t(green-color);
                }
                &.voted {
                    @include themed() {
                        background-color: t(green-color);
                    }
                    color: #fff;
                }
            }
            &--minus {
                @include themed() {
                    border-color: t(red-color);
                }
                &.voted {
                    @include themed() {
                        background-color: t(red-color);
                    }
                    color: #fff;
                }
            }
        }
    }
    &__replies-buttons {
        display: flex;
        align-items: center;
    }
    &__delete {
        margin-right: $spacer-small;
        background-color: transparent;
        font-size: 20px;
        color: $red;
        transition: color 0.25s ease-in;
        &:hover {
            cursor: pointer;
            color: lighten($red, 10);
        }
    }
    &__reply-button {
        padding: $spacer-xsmall;
        margin-left: $spacer-small;
        background-color: #eee;
        transition: background-color .2s ease-in;
        &:hover {
            cursor: pointer;
            background-color: #dedede;
        }
        &--disabled {
            &:hover {
                cursor: default;
                background-color: #eee;
            }
        }
    }
    &__replies {
        margin-left: $spacer;
        margin-top: $spacer-small;
        @include media-up($md) {
            margin-left: $spacer-xlarge;
        }
    }
    &--reply {
        margin-bottom: $spacer-small;
    }
}