.form {
    display: flex;
    margin: $spacer $spacer-small;
    background-color: #ededed;
    border: 2px solid #9c9c9c;
    border-radius: 6px;
    box-shadow: 2px 2px 15px 2px #606060;
    text-align: center;
    overflow-x: hidden;
    &__container {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding: $spacer-small;
        padding-bottom: 4 * $spacer-small;
        transition: transform 0.5s ease-in-out;
        &--register {
            transform: translateX(-100%);
        }
    }
    &__title {
        margin-bottom: $spacer;
    }
    section {
        margin-bottom: $spacer-small;
    }
    &__input {
        width: 100%;
        padding: $spacer-small;
        font-size: 1rem;
        margin-bottom: $spacer-xsmall;
        background-color: #fefefe;
        color: $text-color;
        border: 1px solid #606060;
        border-radius: 6px;
        &--error {
            background-color: $light-red;
        }
    }
    &__button {
        padding: $spacer-small;
        background-color: darken($main-color, 6);
        color: #fff;
        border-radius: 6px;
        font-size: 1rem;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: darken($main-color, 1);
        }
        &--switch {
            position: absolute;
            left: 50%;
            bottom: $spacer-small;
            transform: translateX(-50%);
            width: 60%;
            padding: $spacer-xsmall;
            background-color: #ab6b0a;
            &:hover {
                background-color: #bc7c1b;
            }
        }
    }
    &__input,
    &__button {
        outline: 2px solid transparent;
        &:focus {
            outline-color: $focus-color;
        }
    }
    &__errors {
        width: 35%;
        margin: auto;
        padding: $spacer-small;
        background-color: $light-red;
        border: 1px solid $red;
        border-radius: 6px;
        font-weight: 600;
        color: $red;
    }
}