.header {
    $component: &;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    @include themed() {
        background-color: t(main-color);
    }
    color: #fff;
    padding: $spacer-small;
    &__logo {
        padding: $spacer-small;
        font-weight: 700;
    }
    &__nav {
        @include media-up($md) {
            position: relative;
        }
    }
    &__burger {
        display: block;
        position: relative;
        border-top: 3px solid #fff;
        width: 30px;
        height: 21px;
        margin-top: $spacer-small;
        background: transparent;
        transition: 0.3s transform linear;
        @include media-up($md) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        &.menu-opened {
            transform: rotate(45deg);
            border: none;
            &::before {
                transform: rotate(-90deg) translateX(-6px);
            }
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 3px solid #fff;
        }
        &::before {
            transform: translateY(15px);
            transition: .3s transform linear;
        }
        &::after {
            margin-top: 6px;
        }
    }
    &__options-container {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 100%;
        transform: scale(1,0);
        transform-origin: top;
        transition: 0.3s transform linear;
        @include media-up($md) {
            display: flex;
            position: static;
            transform: none;
            background-color: inherit;
        }
        &--multi {
            flex-direction: column;
        }
        &--hidden {
            position: static;
            transform: none;
            @include themed() {
                background-color: t(hidden-menu-color);
            }
            @include media-up($md) {
                position: absolute;
                left: 0;
                z-index: 5;
                width: 150px;
            }
            #{$component}__option {
                padding-left: $spacer;
                @include media-up($md) {
                    width: 100%;
                    padding-left: 0;
                }
                a {
                    display: block;
                }
            }
        }
        &.open {
            transform: scale(1,1);
            #{$component}__option {
                transform: scale(1,1);
            }
        }
    }
    &__option {
        padding: $spacer-small;
        transform: scale(1,0);
        transform-origin: top;
        transition: 0.15s transform linear;
        user-select: none;
        @include media-up($md) {
            transform: none;
            transition: background-color 0.2s ease-in;
            &:hover {
                cursor: pointer;
                @include themed() {
                    background-color: t(mobile-nav-color);
                }
            }
        }
        &--user {
            font-weight: bold;
            padding: $spacer-small 0;
            a {
                padding: $spacer-small;
            }
        }
        &--inside {
            padding: 0;
            label, a {
                display: block;
                padding: $spacer-small;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__hidden-menu-container {
        max-height: 0;
        transform: scale(1,0);
        transform-origin: top;
        transition: all 0.2s ease-in-out;
        @include media-up($md) {
            position: relative;
            width: 0;
            top: 49px;
        }
        &.open {
            transform: scale(1,1);
        }
    }
    &__label {
        position: relative;
    }
    &__checkbox {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: #fff;
        @include themed() {
            border: 1px solid t(main-color);
        }
        &:checked {
            background-color: #c49b04;
        }
    }
}