.new-post {
    $component: &;
    margin: $spacer-small 0;
    &__content {
        @include themed() {
            border: 1px solid t(main-color);
        }
    }
    &__toolbar {
        display: flex;
        align-items: center;
        @include themed() {
            border: 1px solid t(main-color);
        }
        &-option {
            position: relative;
            width: 40px;
            padding: $spacer-small;
            &:hover {
                cursor: pointer;
                @include themed() {
                    background-color: t(hover-bg-color);
                }
            }
            &.selected {
                @include themed() {
                    background-color: t(hover-bg-color);
                }
            }
            svg {
                pointer-events: none;
            }
            &--bold {
                @include tooltip("Pogrubiony tekst");
            }
            &--italic {
                @include tooltip("Pochylony tekst");
            }
            &--underline {
                @include tooltip("Podkreślony tekst");
            }
            &--link {
                @include tooltip("Wstaw link");
            }
            &--photovideo {
                @include tooltip("Dodaj obraz lub film");
            }
            &--spoiler {
                @include tooltip("Dodaj spoiler (ukryty tekst)");
            }
        }
    }
    .ck-editor__editable {
        width: 100%;
        height: 200px;
        background-color: #fff;
        padding: $spacer-xsmall;
        overflow-y: scroll;
        @include themed() {
            background-color: t(input-color) !important;
            color: t(text-color) !important;
        }
    }
    .ck-toolbar_grouping {
        @include themed() {
            background-color: t(input-header-color) !important;
            color: t(text-color) !important;
        }
        svg,
        .ck-button__label {
            @include themed() {
                color: t(text-color) !important;
            }
        }
    }
    &__submit {
        display: block;
        color: #fff;
        margin: $spacer-xsmall auto 0;
        padding: $spacer-small;
        border-radius: 6px;
        font-size: 1rem;
        transition: background-color 0.3s ease-in;
        @include themed() {
            background-color: t(mobile-nav-color);
        }
        @include media-up($md) {
            margin-left: auto;
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
            @include themed() {
                background-color: t(hidden-menu-color);
            }
        }
    }
    &--reply {
        @include themed() {
            background-color: t(comment-color);
        }
        margin: 0;
        padding: $spacer 0 $spacer $spacer;
        @include media-up($md) {
            padding-left: $spacer-xlarge;
        }
    }
}