.post {
    margin: $spacer 0;
    background-color: #fefefe;
    border-top: 2px solid $header-color;
    border-bottom: 2px solid $header-color;
    @include media-up($xl) {
        border: 2px solid $header-color;
    }
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        .pencil {
            width: 15px;
            height: 200px;
            background: rgb(20,18,50);
            background: linear-gradient(0deg, rgba(20,18,50,1) 0%, rgba(20,18,50,1) 2%, rgba(223,176,143,1) 4%, rgba(207,176,143,1) 12%, rgba(15,159,63,1) 12%, rgba(15,159,63,1) 91%, rgba(212,175,55,1) 91%, rgba(212,175,55,1) 92%, rgba(205,205,205,1) 92%);
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
            animation: draw 3s infinite;
            border: none;
        }
        .text {
            font-size: 1.5rem;
            margin-top: $spacer;
        }
    }
    &__header {
        padding: $spacer-xsmall;
        background-color: #cecece;
        border-bottom: 1px solid $focus-color;
    }
    &__user {
        font-size: 1.1rem;
        font-weight: bold;
    }
    &__date {
        font-size: 0.75rem;
    }
    &__body {
        margin: $spacer-small $spacer-xsmall;
    }
    &__vote {
        font-weight: bold;
        &-result {
            margin-right: 5px;
            &--positive {
                color: #0b8c04;
            }
            &--negative {
                color: #8c1b04;
            }
        }
        &-button {
            margin-left: 3px;
            width: 20px;
            height: 20px;
            color: #fff;
            transition: filter 0.15s ease-in;
            &:hover {
                cursor: pointer;
                filter: brightness(85%);
            }
            &--plus {
                background-color: #0b8c04;
            }
            &--minus {
                background-color: #8c1b04;
            }
        }
    }
    &__link {
        display: block;
        background-color: $mobile-nav-color;
        color: #fff;
        padding: $spacer-xsmall;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: $hidden-menu-color;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacer-xsmall;
        background-color: #dedede;
        border-top: 1px solid $focus-color;
    }
    @keyframes draw {
        0% {
            transform: rotate(20deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(20deg);
        }
    }
}