.post {
    margin: $spacer 0;
    @include themed() {
        background-color: t(post-color);
        color: t(text-color);
        border-top: 2px solid t(main-color);
        border-bottom: 2px solid t(main-color);
    }
    @include media-up($xl) {
        @include themed() {
            border: 2px solid t(main-color);
        }
    }
    &--own {
        @include themed() {
            background-color: t(owner-comment-color);
        }
    }
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        .pencil {
            width: 15px;
            height: 200px;
            background: rgb(20,18,50);
            background: linear-gradient(0deg, rgba(20,18,50,1) 0%, rgba(20,18,50,1) 2%, rgba(223,176,143,1) 4%, rgba(207,176,143,1) 12%, rgba(15,159,63,1) 12%, rgba(15,159,63,1) 91%, rgba(212,175,55,1) 91%, rgba(212,175,55,1) 92%, rgba(205,205,205,1) 92%);
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
            animation: draw 3s infinite;
            border: none;
        }
        .text {
            font-size: 1.5rem;
            margin-top: $spacer;
        }
    }
    &__header {
        display: flex;
        padding: $spacer-xsmall;
        border-bottom: 1px solid $focus-color;
        @include themed() {
            background-color: t(post-header-color);
        }
    }
    &__avatar {
        margin-right: $spacer-xsmall;
        img {
            width: 36px;
            height: 36px;
            object-fit: cover;
        }
    }
    &__user {
        font-size: 1.1rem;
        font-weight: bold;
        a {
            &:hover {
                @include themed() {
                    color: t(text-hover);
                }
            }
        }
    }
    &__date {
        font-size: 0.75rem;
    }
    &__body {
        margin: $spacer-small $spacer-xsmall;
        word-break: break-all;
    }
    &__vote {
        font-weight: bold;
        &-result {
            margin-right: 5px;
            &--positive {
                @include themed() {
                    color: t(green-color);
                }
            }
            &--negative {
                @include themed() {
                    color: t(red-color);
                }
            }
        }
        &-button {
            margin-left: 3px;
            width: 20px;
            height: 20px;
            transition: filter 0.15s ease-in;
            border: 1px solid transparent;
            @include themed() {
                background-color: t(post-color);
                color: t(text-color);
            }
            &:hover {
                cursor: pointer;
                filter: brightness(85%);
            }
            &--plus {
                @include themed() {
                    border-color: t(green-color);
                }
                &.voted {
                    @include themed() {
                        background-color: t(green-color);
                    }
                    color: #fff;
                }
            }
            &--minus {
                @include themed() {
                    border-color: t(red-color);
                }
                &.voted {
                    @include themed() {
                        background-color: t(red-color);
                    }
                    color: #fff;
                }
            }
        }
    }
    &__link {
        display: block;
        color: #fff;
        padding: $spacer-xsmall;
        transition: background-color 0.2s ease-in;
        @include themed() {
            background-color: t(mobile-nav-color);
        }
        &:hover {
            @include themed() {
                background-color: t(hidden-menu-color);
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacer-xsmall;
        border-top: 1px solid $focus-color;
        @include themed() {
            background-color: t(post-header-color);
        }
    }
    &__comments {
        display: flex;
    }
    &__delete {
        margin-right: $spacer-small;
        background-color: transparent;
        font-size: 20px;
        transition: color 0.25s ease-in;
        @include themed() {
            color: t(red-color);
        }
        &:hover {
            cursor: pointer;
            color: lighten($red, 10);
        }
    }
    @keyframes draw {
        0% {
            transform: rotate(20deg);
        }
        50% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(20deg);
        }
    }
}