* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

button {
    border: none;
}

body {
    background-color: $bg-color;
    color:#242424;
    font-family: 'Lato', sans-serif;
    &.dark {
        background-color: $bg-color_dark;
    }
}

.main {
    &--posts {
        max-width: 1200px;
        margin: auto;
    }
}