@mixin media-up($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin tooltip($content) {
    &:hover {
        &::after {
            content: $content;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            padding: $spacer-xsmall;
            min-width: 100px;
            @include themed() {
                color: t(tooltip-color);
            }
        }
    }
}