/* ===== [MEDIA QUERIES] ===== */

$xs: 360px;
$sm: 480px;
$md: 760px;
$lg: 960px;
$xl: 1200px;
$xxl: 2000px;

/* ===== [KOLORY] ===== */

$focus-color: #3c3c3c;
$red: #ad1f0c;
$light-red: #fae2de;

// Tryb dzienny
$bg-color: #f0f0f0;
$hover-bg-color: #d0d0d0;
$text-color: #242424;
$text-hover: #363636;
$tooltip-color: #353535;

$main-color: #118699;
$mobile-nav-color: #007588;
$hidden-menu-color: #006477;

$form-color: #c1e3e8;

$comment-color: #dfdfdf;
$owner-comment-color: #b3e9f2;
$comment-header-color: #cfcfcf;
$owner-comment-header-color: #9fb2b5;

// Tryb nocny
$bg-color_dark: #2c2c2c;
$text-color_dark: #fefefe;

/* ===== [ODSTĘPY] ===== */
$spacer-xsmall: 5px;
$spacer-small: 10px;
$spacer: 20px;
$spacer-large: 35px;
$spacer-xlarge: 50px;

/* ===== [WYSOKOŚCI] ===== */
$header-height: 59px;